  body {
    background-color: #686868;
  }
  
  h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    font-family: Tahoma, Geneva, sans-serif;
  }
  
  
  .col-xs-4 {
    padding: 0;
  }
  
  #button-all {
    background-color: #00Bfff;
  }
 
  
  img {
    width: 50px;
    border: 3px solid;
    border-radius: 50%;
  }
  
  #stream {
    border: 1px solid gray;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 5px;
    padding-left: 20px;
    color: #fff;
    border: 1px solid;
  }
  
  .twitch-background {
    background-color: #9933FF;
  }
  
  .alignCenter {
    text-align: center;
  }
  
  .online {
    background-color: #006600;
  }
  
  .offline {
    background-color: #CC3300;
  }
  
  #name{
    font-style: bold; 
    font-size: 15px;
},
  #game,
  #status {
    margin-top: 15px;
    display: inline-block;
  }
  
  #name {
    margin-left: -30px;
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
      padding: 2px;
    }
    #name,
    #game,
    #status {
      margin: 0;
      font-size: 14px;
    }
    button {
      font-size: 12px;
    }
  }